body {
    background-color: #EAF6F6;
    color: #40514E;
    margin: 0;
    padding: 0;
    text-align: -webkit-center;
    font-family: 'Merriweather', serif;

}

.container {
    background-color: #bdffff;
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 907px;
}

.top_cloud {
    position: absolute;
    right: 300px;
    top: 100px;
    width: 250px;

}

.bottom_cloud {
    position: absolute;
    left: 300px;
    width: 250px;
    top: 40%;
}

.mountain {
    width: 800px;
    position: relative;
    margin: 0 auto;
    top: 299px;
}

.title,
.slogan {
    width: 500px;
    color: #0c3b3b;
}

.title {
    position: relative;
    top: 18%;
    font-size: 5.81rem;
    margin: 0 auto;
    font-family: 'Petemoss', cursive;
}

.slogan {
    position: relative;
    top: 18%;
    margin: 0 auto;
    font-size: 1.37rem;
}

.profile-img,
.skill-image {
    border-radius: 50%;
}
.profile-img{
    width: 50%;
    height: 50%;
}
.skill-image {
    float: left;
    margin-right: 30px;
}
.skill-image1{
    border-radius: 50%;
    float: right;
    margin-left: 40px;

}

.image {
    width: 25%;
    height: 25%;
}

.middle-container {
    margin-top: 0px;
    position: relative;
    display: inline-block;
    align-items: center;
}

.skill-row {
    position: relative;
    width: 50%;
    margin: 0 auto ;
    padding: 60px;
    text-align: left;
    line-height: 2;
}
.profile {
    position: relative;
    width: 50%;
    margin: 50px auto ;
}
.h3-titles {
    color: #339999;
    font-size: 30px;
    margin-bottom: 55px;
}



.bottom-container {
    width: 100%;
    height: 300px;
    background-color: #66BFBF;
    text-align: center;
    align-items: center;
}

.footer-link {
    position: relative;
    margin: 100px auto 0px auto;
    display: inline-block;
    width: 100px;
    text-transform: none;
    color: #fff;
}
.pro-title{
 line-height: 0.5;   
}
.pro-section{
font-size: 20px;


}
.profile-desc{
    font-size: 20px;
    font-weight: 1000;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hr1{
    margin-top: 50px;
}
hr{
     border-top: 10px dotted #758f8f; 
    border-left: none;
    border-bottom: none;
    border-right: none;
    width: 100px;
}
.contact-me {
    margin-top: 183px;
    margin-bottom: 50px;
}
.btn {
    margin-top: 140px;
	box-shadow:inset 2px 0px 26px -26px #66bfbf;
	background:linear-gradient(to bottom, #06bfbf 5%, #0688fa 100%);
	background-color:#06bfbf;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:9px 50px;
	text-decoration:none;
    text-shadow:-6px 3px 22px #263666;
    border-radius: 28px;
}
.btn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #06bfbf 100%);
	background-color:#0688fa;
}
.btn:active {
	position:relative;
	top:1px;
}
a.my-button{
    background: linear-gradient(to right,#042c5b ,#200c53);
    background-color: #042c5b;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 23px;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    padding: 15px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
    margin: 100px 110px 0px 110px;
   }
   a.my-button:hover{
    background: linear-gradient(to right,#515b76 ,#565171);
    background-color: #515b76;
   }
   a.my-button:active{
    transform: scale(0.95);
   }
.credits{
    position: relative;
    font-size: 20px;
    margin: 100px auto 0px auto;    
    color: #fff;
}
.btns{
    width: 100px;
    border: 1x solid #fff;
}